<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <div class="card" id="issue-form">
      <div class="card-header">
        <h3>New issue</h3>
      </div>
      <div class="card-body">
        <form action="/save-issue" method="post">
          <label>Title</label>
          <input
            type="text"
            placeholder="Title"
            class="form-control"
            name="title"
          />
          <br /><label>Description</label>
          <textarea
            name="description"
            placeholder="Write a comment"
            class="form-control"
          ></textarea>
          <br />
          <button class="btn btn-success">Submit issue</button>
          <a href="/" class="btn btn-outline-danger">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>
